[req]
default_bits = 2048
prompt = no
default_md = sha256
req_extensions = req_ext
distinguished_name = dn

[dn]
C = EA
ST = EU
O = PrivateContainerImageRegistry
CN = container-image-registry

[req_ext]
subjectAltName = @alt_names

[alt_names]
DNS.1 = container-image-registry
